$theme-color-base00: #282a36;
$theme-color-base01: #363447;
$theme-color-base02: #44475a;
$theme-color-base03: #6272a4;
$theme-color-base04: #9ea8c7;
$theme-color-base05: #f8f8f2;
$theme-color-base06: #f0f1f4;
$theme-color-base07: #ffffff;
$theme-color-base08: #ff5555;
$theme-color-base09: #ffb86c;
$theme-color-base0A: #f1fa8c;
$theme-color-base0B: #50fa7b;
$theme-color-base0C: #8be9fd;
$theme-color-base0D: #80bfff;
$theme-color-base0E: #ff79c6;
$theme-color-base0F: #bd93f9;

$theme-font-family-1:      "FiraCode Nerd Font";
$theme-font-family-size-1: 18px;
$theme-font-color-1:       $theme-color-base00;


$theme-widget_bar-background-color:  $theme-color-base00;
$theme-widget_bar-color:             $theme-color-base04;

/*
 * * * * * * * * * * * * Root * * * * * * * * * * * *
 */

* {
	all:                               unset;
	font-family:                       $theme-font-family-1;
  font-size:                         $theme-font-family-size-1;
  color:                             $theme-font-color-1;
}

/*
 * * * * * * * * * * * * Seperator * * * * * * * * * * * *
 */
.seperator_clock {
  color: #bfc9db;
  margin: 0px 4px 1px 4px;
}
.seperator_system {
  color: #38384d;
  margin: 0px 10px 0px 10px;
}
.seperator_audio {
  color: #38384d;
	margin : 0px 0px 0px 0px;
}


/*
 * * * * * * * * * * * * Tooltip * * * * * * * * * * * *
 */
tooltip.background {
  background-color:  #0f0f17;
  border-radius:     10px;
  color:             #bfc9db;
}
tooltip label {
  margin:            6px;
}


/*
 * * * * * * * * * * * * Widget * * * * * * * * * * * *
 */
.widget_bar {
  background-color:  $theme-widget_bar-background-color;
  color:             $theme-widget_bar-color;
  // width:  100%;
  // height: 100%;
}

.widget_workspaces_workspaces {
  background-color: #0f0f17;
}

.widget_workspaces_workspace {
  margin-right: 16px;
  color: #3e424f;
}
.focused {
  color: #a1bdce;
}

.widget_clock {
  margin:            0px 0px 0px 0px;
  border-radius:     10px 16px 0px 10px;
}
.widget_clock_time, .widget_clock_time_minute {

}
.widget_clock_time {
  color: #bfc9db;
  font-weight: bold;
  margin: 0px 5px 0px 0px;
}
.widget_clock_time_minute {
  margin: 0px 20px 0px 3px;
  color: #bfc9db;
}
.widget_clock_date {
  margin: 0px 20px 0px -1px;
  color: #d7beda;
}

.widget_system_memory_progress_circular {
  color: #e0b089;
  background-color: #38384d;
  border-radius: 10px;
}
.widget_battery_progress_circular {
  color: #afbea2;
  background-color: #38384d;
  border-radius: 10px;
}
.widget_brightness_scale trough highlight {
  background-image: linear-gradient(to right, #e4c9af 30%, #f2cdcd 50%, #e0b089 100% *50);
  border-radius: 10px;
}
.widget_volume_bar trough highlight {
  background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
  border-radius: 10px;
}
.icon_volume {
  color:         #a1bdce;
  margin:        0px 10px 0px 10px;
}

.widget_wifi_essid {
  color:         #a1bdce;
  margin:        0px 10px 0px 0px;
}
.widget_wifi {
  color:         #a1bdce;
  border-radius: 100%;
  margin:        0px 10px 0px 5px;
}
.status_wifi_connected {
  color: #a1bdce;
}
.status_wifi_disconnected {
  color: #575268;
}

.icon_system_memory {
    color: #e0b089;
}
.iconbat {
    color: #afbea2;
}
.iconbat, .icon_system_memory {
    margin: 10px;
}
.icon_display_brightness {
    color: #e4c9af;
  margin: 0px 10px 0px 10px;
}

.separ {
  color: #3e424f;
  font-weight: bold;
  margin: 0px 8px 0px 8px;
}

.widget_system_memory {
  background-color: #0f0f17;
	border-radius: 16px;
  margin: 0px 10px 0px 3px;
}
.widget_battery {
  background-color: #0f0f17;
	border-radius: 16px;
  margin: 0px 10px 0px 10px;
}

scale trough {
  all: unset;
  background-color: #22242b;
  box-shadow: 0 2px 3px 2px #06060b;
  border-radius: 16px;
  min-height: 10px;
  min-width: 70px;
  margin: 0px 10px 0px 0px;
}

.widget_music_media_song_cover_art {
	background-size: cover;
	background-position: center;
	min-height: 24px;
	min-width: 24px;
	margin: 10px;
	border-radius: 100px;
}
.widget_music_media_song {
	color: #a1bdce;
	font-weight : bold;
	margin : 3px 5px 0px 0px;
}
.widget_music_media_song_button_play {
	color: #a1bdce;
	margin : 3px 0px 0px 5px;

}
.widget_music_media_song_button_previous, .widget_music_media_song_button_next {
	color: #bfc9db;
	margin : 3px 0px 0px 5px;

}

.widget_calendar {
  background-color: #0f0f17;
  font-weight: normal;

  .widget_calendar_in {
    padding: 0px 10px 0px 10px;
    color: #bfc9db;

    .widget_calendar {
      &.highlight {
        padding: 20px;
      }

      padding: 5px 5px 5px 5px;
      margin-left: 10px;
    }
  }
}

calender {
    color: #bfc9db;
}
calendar:selected {
  color: #a1bdce;
}

calendar.header {
  color: #a1bdce;
  font-weight: bold;
}

calendar.button {
  color: #afbea2;
}

calendar.highlight {
  color: #a1bdce;
  font-weight: bold;
}

calendar:indeterminate {
  color: #bfc9db;
}


.widget_system_battery_text_sub, .widget_system_memory_text_sub {
  color: #bbc5d7;
  margin: 5px 0px 0px 25px;
}
.widget_system_battery_text, .widget_system_memory_text {
  font-weight: bold;
  margin: 14px 0px 0px 25px;
}
.icon_system_battery, .icon_system_memory {
  margin: 30px;
}
.widget_system {
  background-color: #0f0f17;
}
.widget_system_battery_progress_circular {
  color: #afbea2;
  background-color: #38384d;
  border-radius: 10px;
}
.widget_system_memory {
  color: #e4c9af;
  background-color: #38384d;
  border-radius: 10px;
}
.icon_system_battery, .widget_system_battery_text {
  color: #afbea2;
}
.icon_system_memory, .widget_system_memory_text {
  color: #e4c9af;
}
.widget_system_battery {
	border-radius: 16px;
  margin: 15px 10px 10px 20px;
}
.widget_system_memory {
	border-radius: 16px;
  margin: 10px 10px 15px 20px;
}

.music_pop {
  background-color: #0f0f17;
	border-radius: 16px;
}
.music_cover_art {
	background-size: cover;
	background-position: center;
	min-height: 100px;
  box-shadow: 5px 5px 5px 5px #06060b;
	min-width: 170px;
	margin: 20px;
	border-radius: 20px;
}

.widget_panel_music {
	color: #a1bdce;
	font-weight : bold;
	margin : 20px 0px 0px -15px;
}

.widget_panel_music_artist {
	color: #bbc5d7;
	font-weight : normal;
	margin : 0px 0px 0px 0px;
}

.widget_panel_music_button_previous, .music_button_play, .music_button_next {
	font-family: "FiraCode Nerd Font";
}
.widget_panel_music_button_previous {
	color: #bbc5d7;
	font-weight : normal;
	margin: 0px 0px 0px 0px;
}
.widget_panel_music_button_play {
	color: #a1bdce;
	font-weight : normal;
	margin: 0px 0px 0px 0px;
}
.widget_panel_music_button_next {
	color: #bbc5d7;
	font-weight : normal;
	margin: 0px 0px 0px 0px;
}

.widget_panel_music_bar scale trough highlight {
	all: unset;
  background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
	border-radius: 24px;
}
.widget_panel_music_bar scale trough {
	all: unset;
	background-color: #232232;
  box-shadow: 0 6px 5px 2px #06060b;
	border-radius: 24px;
	min-height: 13px;
	min-width: 190px;
	margin : -10px 10px 20px 0px;
}

.widget_audio {
  background-color: #0f0f17;
	border-radius: 16px;
}
.icon_audio_speaker {
	background-size: cover;
  background-image: url('images/speaker.png');
	background-position: center;
	min-height: 70px;
	min-width: 75px;
	margin: 10px 20px 5px 20px;
	border-radius: 12px;
}

.widget_audio_speaker_text {
	color: #a1bdce;
	font-weight : bold;
	margin: 20px 0px 0px 0px;
}

.widget_audio_speaker_bar scale trough highlight {
	all: unset;
  background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
	border-radius: 24px;
}
.widget_audio_speaker_bar scale trough {
	all: unset;
	background-color: #232232;
  box-shadow: 0 6px 5px 2px #06060b;
	border-radius: 24px;
	min-height: 13px;
	min-width: 120px;
	margin : 0px 0px 5px 0px;
}

.icon_audio_mic {
	background-size: cover;
  background-image: url('images/mic.png');
	background-position: center;
	min-height: 70px;
	min-width: 75px;
	margin: 5px 20px 20px 20px;
	border-radius: 12px;
}

.widget_audio_mic_text {
	color: #a1bdce;
	font-weight : bold;
	margin: 0px 0px 0px 0px;
}

.widget_audio_mic_bar scale trough highlight {
	all: unset;
  background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
	border-radius: 24px;
}
.widget_audio_mic_bar scale trough {
	all: unset;
  box-shadow: 0 6px 5px 2px #06060b;
	background-color: #232232;
	border-radius: 24px;
	min-height: 13px;
	min-width: 120px;
	margin : 0px 0px 20px 0px;
}
